@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://unpkg.com/@highlightjs/cdn-assets@10.5.0/styles/atom-one-dark.min.css');

code {
  border-radius: 2px;
  font-family: 'Source Code Pro', monospace;
  font-size: 11pt;
  padding: 1px 4px;
}

pre code {
  box-sizing: border-box;
  display: block;
  padding: 16px !important;
  width: 100%;
}
