:root {
  --colorPrimaryLight: #ffffff;
  --colorPrimary: #eceff1;
  --colorPrimaryDark: #b6b8c3;

  --colorAccentLight: #f1f8e9;
  --colorAccent: #854fee;
  --colorAccentSecondary: #3949ab;
  --colorDisabled: #babdbe;

  --textColorPrimary: #424242;
  --textColorSecondary: #616161;
}
