/*-- Navigation Bar --*/
#action-bar {
    z-index: 2000;
    display: none;
    background: #001d22;
}
nav img {
    display: none;
}
@media (max-width: 768px){
    #action-bar,
    nav img {
        display: block;
    }
}

/*-- Side Menu --*/
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background: #001d22;
    border-radius: 0;
    top: 0px;    
}
#menu-toggle {
    margin-left: 10px;
    color: white;
}
#menu-toggle:hover, #menu-close:hover {
    background: rgba(0,0,0,0);
}
#menu-close {
    margin-left: 10px;
    color: white;
    display: none;
}

#sidebar-wrapper, #sidebar-wrapper * {
    background: rgba(0,0,0,0);
    border: 0;
    color: #fff;
}

#action-bar:hover, #action-bar *:hover, #sidebar-wrapper:hover, #sidebar-wrapper *:hover {
    color: #D6F8FF;
}

@media (max-width: 768px){
    #action-bar {
        background: rgba(6, 6, 6, 0.0);   
        border: 0;     
    }
    #action-bar * {
        border: 0;     
    }
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        overflow-y: auto;
        background: rgba(6, 6, 6, 0.75);
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    .sidebar-nav {
        position: relative;
        top: 100px;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sidebar-nav li {
        margin-left: -15px;
    }
    #sidebar-wrapper.opened {
        left: 0;
        width: 250px;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    .sidebar-photo-frame {
        width: 250px;
        height: 150px;
        overflow: hidden;
        position: relative;
        top: -50px;        
    }
    .sidebar-photo {
        width: 250px;
        min-height: 100%;
        position: absolute;
        top: -50px;        
    }
    .social-icons {
        display: none;
    }
}