section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px
}

section.download .badges .badge-link:last-child {
    margin-bottom: 0
}

section.download .badges .badge-link img {
    height: 60px
}

@media (min-width:768px) {
    section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0
    }
}

section.features .device-container, section.features .feature-item {
    max-width: 325px;
    margin: 0 auto
}

section.features .device-container {
    margin-bottom: 100px
}

@media (min-width:992px) {
    section.features .device-container {
        margin-bottom: 0
    }
}

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center
}

section.features .feature-item h3 {
    font-size: 26px
}

section.features .feature-item p {
    font-size: 20px;
    text-align: center
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #141520, #854fee);
    background: linear-gradient(to left, #141520, #854fee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.bg-primary {
    background: #854fee
}

.text-primary {
    color: #854fee
}