.project-summary {
  padding-bottom: var(--padding);
  display: inline-block;
}

.project-summary>* {
  float: left;
}

.project-logo {
  border-radius: 8px;
  margin-right: 16px;
  height: 80px;
  width: 80px;
}

.project-title {
  padding: 0;
  margin: 0;
}

.project-tags {
  display: block;
  float: left;
  margin-bottom: 4px;
}

.project-tags:after {
  clear: both;
}

.project-tag {
  display: inline-block;
  background-color: #eee;
  border-radius: 16px;
  color: var(--textColorPrimary);
  font-size: 10px;
  font-weight: bold;
  padding: 2px 8px;
}

.project-tag .material-icons {
  color: var(--colorDisabled);
  font-size: 10px;
  margin-right: 4px;
  vertical-align: middle;
}

.project-type, .project-type * {
  color: gray;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

.project-portfolio-img {
  width: 100%;
}

.mdc-data-table {
  width: 100%;
  max-width: 100%;
}
