@import url("/css/colors.css");
@import url("/css/typography.css");

:root {
  /* corner radius of the content card */
  --content-corners: 2px;
  /* elevation of the content card */
  --content-elevation: 4px;
  /* padding inside the content card */
  --content-padding: 40px;
  /* spacing around the content card */
  --content-spacing: 24px;
  /* spacing between the content columns */
  --column-spacing: 40px;
  /* spacing around the footnote */
  --footnote-spacing-x: 24px;
  --footnote-spacing-y: 0px;
  --card-radius: 4px;
}

@media (max-width: 840px) {
  :root {
    --content-corners: 0px;
    --content-elevation: 0px;
    --content-padding: 24px;
    --content-spacing: 0px;
    --column-spacing: 0px;
    --footnote-spacing-x: 24px;
    --footnote-spacing-y: 24px;
  }
}

@media (max-width: 768px) {
  :root {
    --content-padding: 16px;
    --footnote-spacing-x: 16px;
    --footnote-spacing-y: 16px;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mdc-top-app-bar {
  background: var(--colorPrimaryLight);
  box-shadow: 0px 1px 4px var(--colorDisabled);
  z-index: 999;
}

.main-content {
  align-items: center;
  background-color: var(--colorPrimary);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: hidden;
  text-align: justify;
  width: 100%;
}

.main-content article {
  background-color: var(--colorPrimaryLight);
  border-radius: var(--content-corners);
  box-shadow: 0px 0px var(--content-elevation) var(--colorDisabled);
  -webkit-box-shadow: 0px 0px var(--content-elevation) var(--colorDisabled);
  box-sizing: border-box;
  margin: var(--content-spacing);
  padding: var(--content-padding);
  width: calc(100% - var(--content-spacing));
}

.col-md-8 {
  box-sizing: border-box;
  float: left;
  width: 67%;
  padding-right: var(--column-spacing);
}

.col-md-4 {
  box-sizing: border-box;
  float: left;
  width: 33%;
}

@media (max-width: 840px) {
  .col-md-8 {
    float: none;
    width: 100%;
  }

  .col-md-4 {
    float: none;
    width: 100%;
  }
}

.main-content article>header {}

.main-content article section {
  margin-bottom: var(--content-padding);
}

.main-content article aside {}

.main-content .footnote {
  box-sizing: border-box;
  font-size: 11pt;
  padding: var(--footnote-spacing-y) var(--footnote-spacing-x);
  width: 100%;
}

footer {
  width: 100%;
}

.main-content .footer {
  background-color: var(--colorPrimaryLight);
  box-sizing: border-box;
  font-size: 12pt;
  padding: 24px;
  width: 100%;
}

.main-content .footer .mdc-list-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

.main-content .footer ul.sitemap {
  margin-top: 16px;
}

.main-content .footer ul.sitemap>li {
  display: inline-block;
  margin-right: 24px;
}

.main-content .footer ul.sitemap>li a {
  color: var(--textColorPrimary) !important;
  font-weight: normal;
  text-decoration: none;
}

.main-content .footer ul.sitemap>li a:hover {
  color: var(--colorAccent) !important;
}

@media (max-width: 768px) {
  .main-content .footer ul.sitemap>li {
    display: block;
    margin-right: 0px;
    min-height: 48px;
  }
}

.main-content .footer .copyright a {
  color: var(--textColorPrimary) !important;
  text-decoration: underline;
}

/* Style the list */
.breadcrumbs {
  list-style: none;
}

/* Display list items side by side */
.breadcrumbs .breadcrumb-item {
  display: inline-block;
  text-transform: capitalize;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumbs .breadcrumb-item+.breadcrumb-item:before {
  color: var(--textColorSecondary) !important;
  content: "⟩";
  padding: 0 8px;
}

/* Add a color to all links inside the list */
.breadcrumbs .breadcrumb-item a {
  color: var(--textColorSecondary);
  text-decoration: none;
}

.breadcrumbs .breadcrumb-item a:hover {
  color: var(--colorAccent);
  text-decoration: none;
}

.breadcrumbs .breadcrumb-item .material-icons {
  vertical-align: text-bottom;
}

/* Add a color to all links inside the list */
.breadcrumbs .breadcrumb-item.active a {
  color: var(--textColorPrimary);
}

.mdc-chip {
  background-color: var(--colorPrimaryLight);
  border: 1px solid var(--colorDisabled);
  color: var(--textColorPrimary);
}

.mdc-chip:hover {
  background-color: var(--colorDisabled);
  color: var(--textColorPrimary);
}

.mdc-chip .active {
  color: var(--colorAccent);
}

.ml-15 {
  margin-left: 15px;
}

/******************************************************************************/
/* UI Elements                                                                */
/******************************************************************************/
hr {
  background-color: var(--colorDisabled);
  opacity: 0.25;
}

hr.mdc-list-divider {
  margin: 8px;
}

hr.small {
  max-width: 100px
}

button:focus {
  outline: none;
  box-shadow: none;
}

ul,
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/******************************************************************************/
/* Main Title Section                                                         */
/******************************************************************************/
.about-description {
  width: 100%;
  margin-top: var(--content-padding);
  margin-bottom: var(--content-padding);
}

/******************************************************************************/
/* Home Banner Section                                                        */
/******************************************************************************/
.about-section {
  position: relative;
}

.about-section .col-md-8 {
  vertical-align: middle;
  align-self: center;
}

.about-section .about-summary {
  text-align: left;
}

.about-section .about-summary .greeting {
  font-size: 32px;
  line-height: 32px;
  margin-top: var(--content-padding);
  margin-bottom: 0;
}

.about-section .about-summary .introduction {
  font-size: 56px;
  line-height: 56px;
  margin-bottom: var(--content-padding);
}

.about-section .home_right_img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 840px) {
  .about-section {
    margin-top: 0;
  }

  .about-section .home_right_img {
    display: none;
  }

  .about-section .about-summary {
    margin-top: 150px;
  }
}

/******************************************************************************/
/* Services Section                                                           */
/******************************************************************************/
.service-item {
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

.page-description {
  color: gray;
  font-size: 16px;
  text-align: center;
}

.service-item>.material-icons {
  font-size: 48px;
  color: var(--colorAccent);
}

.service-item h2 {
  font-size: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: normal;
}

.service-item p {
  font-size: 16px;
  margin-bottom: 0;
}

.service-item .mdc-button__label {
  text-transform: lowercase;
}

/******************************************************************************/
/* Expreience Section                                                          */
/******************************************************************************/
.experience-item {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.experience-item .content {
  float: left;
  width: calc(100% - 32px);
}

.experience-item .date {
  color: var(--colorAccentSecondary);
}

.experience-item .name {
  margin: 0px;
}

.experience-item .timeline {
  float: left;
  width: 24px;
  margin-right: 8px;
  color: var(--colorPrimaryDark);
  text-align: center;
}

.experience-item .timeline .dot {
  color: var(--colorAccentSecondary);
  font-size: 24px;
  position: relative;
  z-index: 200;
}

.experience-item .timeline .bar {
  background-image: linear-gradient(to bottom, var(--colorDisabled) 0%, var(--colorPrimaryDark) 100%), radial-gradient(circle at top left, var(--colorDisabled), var(--colorPrimaryDark));
  width: 2px;
  position: absolute;
  top: 20px;
  bottom: -20px;
  left: 11px;
  z-index: 100;
}

.experience-item .timeline .bar-expanded {
  background-color: var(--colorPrimaryDark);
  width: 28px;
  height: 2px;
  position: absolute;
  top: 18px;
  left: -18px;
  z-index: 100;
}

/******************************************************************************/
/* Projects Section                                                           */
/******************************************************************************/
.portfolio {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.portfolio .filters {
  display: inline-block;
  margin: auto;
  padding-bottom: var(--content-padding)
}

.portfolio .filters li {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.portfolio .filters li:hover,
.portfolio .filters li.active {
  color: var(--colorAccent);
}

.portfolio .grid {
  margin: auto;
  margin-bottom: var(--content-padding);
}

.portfolio .grid:after {
  content: '';
  clear: both;
}

.portfolio .grid .portfolio-item {
  float: left;
  width: 128px;
  border-radius: var(--card-radius);
  margin: 8px;
}

.portfolio .grid .portfolio-item .project-icon .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio .grid .portfolio-item .project-icon:hover .overlay {
  background: rgba(77, 87, 222, 0.5);
}

.portfolio .grid .mdc-card {
  border-radius: 16px;
}

.portfolio .grid .portfolio-item .project-details {
  padding: 0px;
  text-align: center;
}

.portfolio .grid .portfolio-item .project-details strong {
  margin-top: 4px;
  font-size: 11pt;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio .grid .portfolio-item .project-details small {
  color: var(--textColorSecondary);
  font-size: 10pt;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom-navigation {
  background: var(--colorPrimaryLight);
  box-shadow: 0px 0px 2px var(--colorDisabled);
  display: none;
  position: fixed;
  width: 100%;
  height: 48px;
  bottom: 0;
}

.hide-when-small {
  display: block;
}

@media (max-width: 992px) {
  .portfolio {
    padding-bottom: 48px;
  }

  .portfolio .subtitle, .portfolio hr.small {
    display: none;
  }

  .portfolio .grid {
    margin: auto;
    margin-bottom: 0;
  }

  .portfolio .grid .portfolio-item {
    width: 92px;
  }

  .bottom-navigation {
    display: block;
  }

  .hide-when-small {
    display: none;
  }
}

@media (max-width: 992px) {
  .nav {
    padding: 0 0;
  }
}

@media (max-width: 840px) {
  .about-section {
    min-height: 300px;
  }

  .about-section .about-summary {
    margin-top: 0;
  }

  .about-section .about-summary h3 {
    font-size: 30px;
  }

  .about-section .about-summary p br {
    display: none;
  }

  .about-section .about-summary h3 span {
    line-height: 45px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .about-section .about-summary h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .about-section {
    min-height: 450px;
  }

  .about-section .about-summary img {
    display: none;
  }

  .about-section .about-summary h5 {
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .about-section .about-summary {
    padding: 30px 15px;
    margin-top: 0;
  }

  .about-section .about-summary h3 {
    font-size: 24px;
  }
}

/* embed responsively (YouTube vidoes) */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.callout {
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
}
