html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #e0f2f1;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif
}

a:hover {
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0
}

hr.small {
    max-width: 100px
}

.bg-primary {
    background: #3788ac
}

.bg-secondary {
    background: #9dabb1
}

.bg-accent {
    background: #5e35b1
}

.text-primary {
    color: #e0f2f1
}

.text-secondary {
    color: #00352c
}

.text-accent {
    color: #fffacf
}

.text-muted {
    color: #bebebe
}

.btn-dark {
    background-color: #00352c66;
    color: #e0f2f1;
    border-radius: 2px
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background-color: #00352c99;
    color: #e0f2f1;
    border-radius: 2px
}

.btn-light {
    background-color: #9dabb166;
    color: #00352c;
    border-radius: 1px
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    background-color: #9dabb199;
    color: #00352c;
    border-radius: 1px
}

.btn-primary {
    background-color: #00352c66;
    color: #3788ac;
    border: 1px solid #3788ac;
    border-radius: 2px
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #00352c99;
    color: #3788ac;
    border-color: #3788ac99
}

.btn-secondary {
    background-color: #00352c66;
    color: #5e35b1;
    border: 1px solid #5e35b1;
    border-radius: 2px
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #00352c99;
    color: #5e35b1;
    border-color: #5e35b199
}

.btn-accent {
    background-color: #00352c66;
    color: #0081e3;
    border: 1px solid #0081e3;
    border-radius: 2px
}

.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
    background-color: #00352c99;
    color: #0081e3;
    border-color: #0081e399
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    opacity: .975;
    background: url(/img/loading.gif) center no-repeat #fff
}

.callout {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background: url(/img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover
}

.callout .container {
    display: table-cell;
    vertical-align: middle
}

.call-to-action {
    padding: 25px 0
}

.call-to-action .btn {
    margin: 5px
}