@import url("/css/colors.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200&display=swap');

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  margin-bottom: 24px;
}

h2, h3, h4 {
  margin-bottom: 4px;
}

h5, h6 {
  margin-bottom: 0px;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 11pt;
  text-transform: uppercase;
}

h3 {
  font-size: 12pt;
}

h4 {
  font-size: 10pt;
  text-transform: uppercase;
}

h5, h5 {
  font-size: 10pt;
}

h1.subtitle, h2.subtitle, h3.subtitle,
h4.subtitle, h5.subtitle, h6.subtitle {
  font-size: 90%;
  opacity: 0.75;
  text-transform: uppercase;
}

b, strong, sub, sup {
  font-weight: 400;
  margin: 0;
}

a, a:hover, a:focus {
  font-weight: 400;
  text-decoration: none;
  margin: 0;
}

a.light, a.light:hover, a.light:focus {
  font-weight: 300;
  margin: 0;
}

small, i {
  font-weight: 200;
  margin: 0;
}

p {
  margin: 0px;
  margin-bottom: 16px;
}

blockquote {
  font-weight: 200;
  font-style: italic;
  text-align: justify;
}

button {
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-title {
  text-transform: capitalize;
}

.text-left {
  text-align: left !important;
}

.text-left * {
  text-align: left;
}

.text-right {
  text-align: right !important;
}

.text-right * {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

.text-center * {
  text-align: center;
}
