# IntelliJ files
.idea/
*.iml

# Visual Studio files
*.userprefs
*.csproj
*/.vs/
*.sln

# Project source files
projects/*/*/sources/
projects/*/*/docs/
projects/*/*/*.psd

# OS files
Desktop.ini
Thumbs.db
.DS_STORE
Icon?
._*