{% if site.footer-links.github %}
<section class="mdc-card" style="border: 0;">
  <div class="mdc-card__content" style="padding: 16px;">
    <h2>Coding Stats</h2>
    <p>
      Summary of my recent GitHub activity. See my
      <a href="https://github.com/{{ site.footer-links.github }}/" style="color: var(--mdc-theme-on-primary);">GitHub profile</a> for details.
    </p>
    <div class="calendar"></div>
  </div>
</section>

<script type="application/javascript">
  (function() {
    // Load GitHub contributions calendar
    new GitHubCalendar(".calendar", "{{ site.footer-links.github }}", {
      responsive: true
    });
  })();
</script>
{% endif %}