<div>
  {% for page in site.projects %}
  {% assign categories = page.categories %}
  {% if categories contains 'featured' %}
  <section class="project-summary" style="display: flex;">
    <img style="border: 1px solid var(--mdc-theme-overlay); border-radius: 8px; margin-right: 8px;" width="64px" height="64px" src="{{ site.baseurl}}{{ page.icon }}" alt="{{ page.title }}" />
    <div style="width: calc(100% - 72px)">
      <h3 class="project-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
      <div>{{ page.excerpt }}</div>
    </div>
  </section>
  {% endif %}
  {% endfor %}
</div>
