<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}

<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }},{% endif %}{% if page.categories %}{{ page.categories }}{% endif %}{% if page.device %},{{ page.device }}{% endif %},{{ site.author }}">
<meta property="og:keywords" content="{% if page.keywords %}{{ page.keywords }},{% endif %}{% if page.categories %}{{ page.categories }}{% endif %}{% if page.device %},{{ page.device }}{% endif %},{{ site.author }}" />
<meta property="twitter:keywords" content="{% if page.keywords %}{{ page.keywords }},{% endif %}{% if page.categories %}{{ page.categories }}{% endif %}{% if page.device %},{{ page.device }}{% endif %},{{ site.author }}" />

{% if page.cover %}
<meta property="og:image" content="{{ site.url }}/assets/images/{{ page.url }}/0.jpg" />
<meta property="twitter:image" content="{{ site.url }}/assets/images/{{ page.url }}/0.jpg" />
{% elsif page.icon %}
<meta property="og:image" content="{{ site.url }}{{ page.icon }}" />
<meta property="twitter:image" content="{{ site.url }}{{ page.icon }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.logo }}" />
<meta property="twitter:image" content="{{ site.url }}{{ site.logo }}" />
{% endif %}