{% if site.footer-links.dribbble %}
<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-dribbble-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.email %}
<a href="mailto:{{ site.footer-links.email }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fas fa-envelope-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.facebook %}
<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-facebook-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.flickr %}
<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-flickr" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.github %}
<a href="https://github.com/{{ site.footer-links.github }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-github-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.instagram %}
<a href="https://instagram.com/{{ site.footer-links.instagram }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-instagram-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.linkedin %}
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-linkedin" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.pinterest %}
<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-pinterest-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.rss %}
<a href="{{ site.baseurl }}/feed.xml" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fas fa-rss-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.twitter %}
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-twitter-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.stackoverflow %}
<a href="http://stackoverflow.com/users/{{ site.footer-links.stackoverflow }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-stack-overflow" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.youtube %}
<a href="https://youtube.com/{{ site.footer-links.youtube }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-youtube-square" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}

{% if site.footer-links.playconsole %}
<a href="https://play.google.com/store/apps/dev?id={{ site.footer-links.playconsole }}" rel="noopener" target="_blank" style="padding-right: 4px;">
  <i class="fab fa-google-play" style="color: var(--mdc-theme-on-primary)"></i>
</a>
{% endif %}