<nav class="mdc-list">
  {% if site.navigation_main %}
  {% for item in site.navigation_main %}
  {% if item.url contains '://' %}
  {% assign url = item.url %}
  {% else %}
  {% assign url = item.url | relative_url %}
  {% endif %}

  {% if item.url == page.url %}
  <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ item.icon }}</i>
    <span class="mdc-list-item__text">{{ item.title }}</span>
  </a>
  {% else %}
  <a class="mdc-list-item" href="{{ url }}">
    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ item.icon }}</i>
    <span class="mdc-list-item__text">{{ item.title }}</span>
  </a>
  {% endif %}
  {% endfor %}
  {% endif %}
  <p class="mdc-list-item mdc-list-item--activated" style="opacity: 0;"></p>
</nav>