<style type="text/css" media="screen">
  .gr_custom_container_1614243637 {
    /* customize your Goodreads widget container here*/
    background-color: transparent;
    color: var(--mdc-theme-on-primary);
  }

  .gr_custom_container_1614243637 * {
    color: var(--mdc-theme-on-primary) !important;
  }

  .gr_custom_each_container_1614243637 {
    /* customize each individual book container here */
    border: 1px solid var(--mdc-theme-overlay);
    border-radius: var(--card-radius);
    width: 100%;
    clear: both;
    margin-bottom: 8px;
    padding: 8px;
    overflow: auto;
    font-weight: bold;
  }

  .gr_custom_book_container_1614243637 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
    float: left;
    margin-right: 4px;
    width: 39px;
  }

  .gr_custom_author_1614243637 {
    /* customize your author names here */
    font-weight: 300 !important;
  }

  .gr_custom_rating_1614243637 {
    /* customize your rating stars here */
    float: right;
  }
</style>

<section>
  <script
    src="https://www.goodreads.com/review/custom_widget/26736309.Recently%20Read%20Books?cover_position=left&cover_size=small&num_books=5&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1614243637&widget_text_color=000000&widget_title_size=small&widget_width=full"
    type="text/javascript" charset="utf-8"></script>
</section>